:root {
  /*text color*/
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
  /*bg color*/
  --accent-color: #2196f3;
  --primery-bgc-color: #ffffff;
  --secondary-bgc-color: #2f303a;
  /*other*/
  --anim-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: Roboto, sans-serif;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.hero__btn {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  font-family: inherit;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: background-color var(--anim-hover);
  transition: background-color var(--anim-hover);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.logo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    text-align: left;
  }
}
.logo__accent {
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 92px;
  }
}

.footer__logo {
  display: block;
  color: var(--white-text-color);
  margin-right: 0;
  margin-bottom: 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
}
.nav__item__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primery-text-color);
  -webkit-transition: color var(--anim-hover);
  transition: color var(--anim-hover);
}
.nav__link--current {
  color: var(--accent-text-color);
  position: relative;
}
.nav__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgb(33, 150, 243);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-text-color);
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  /* outline: 1px solid red; */
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: background-color var(--anim-hover), color var(--anim-hover);
  transition: background-color var(--anim-hover), color var(--anim-hover);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.socials__icon {
  fill: currentColor;
}

.address {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .address {
    margin-bottom: 0;
    text-align: left;
  }
}

.address__location,
.address__mail,
.address__phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2727272727;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition: color var(--anim-hover);
  transition: color var(--anim-hover);
}

.address a {
  display: block;
  margin-bottom: 9px;
}

.address a:last-child {
  margin-bottom: 0px;
}

.address__location {
  color: var(--white-text-color);
}

.address__mail,
.address__phone {
  color: rgba(255, 255, 255, 0.6);
}

.address__location:focus,
.address__mail:focus,
.address__phone:focus,
.address__location:hover,
.address__mail:hover,
.address__phone:hover {
  color: var(--accent-text-color);
}

.menu_btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu_btn {
    display: none;
  }
}
.menu_btn:hover, .menu_btn:focus {
  fill: var(--accent-text-color);
}

.menu_btn .menu_icon--close {
  display: none;
}

.menu_btn.is-open .menu_icon--close {
  display: block;
}

.menu_btn.is-open .menu_icon--open {
  display: none;
}

.menu-btn {
  margin-left: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: fill var(--anim-hover);
  transition: fill var(--anim-hover);
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.menu-overlay .menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu-btn:hover, .menu-btn:focus {
  fill: #2196f3;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.2);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity var(--anim-hover), visibility var(--anim-hover);
  transition: opacity var(--anim-hover), visibility var(--anim-hover);
}
@media screen and (min-width: 768px) {
  .menu-overlay {
    display: none;
  }
}
.menu-overlay.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.menu-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  height: 796px;
  background-color: #fff;
  padding: 50px 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
}
.menu-overlay.is-open .menu-conteiner {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__item {
  margin-bottom: 32px;
}
.menu__item:last-child {
  margin-bottom: 306px;
}

.menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}

.menu-contacts__phone {
  display: inline-block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

.menu-contacts__mail {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.menu__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}

.menu__socials-item {
  padding-right: 5px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu__socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header {
  background-color: var(rimery-bgc-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    margin-right: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__mail,
.header-contacts__phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--anim-hover);
  transition: color var(--anim-hover);
}
@media screen and (min-width: 1200px) {
  .header-contacts__mail,
.header-contacts__phone {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header-contacts__mail:hover,
.header-contacts__phone:hover,
.header-contacts__mail:focus,
.header-contacts__phone:focus {
  color: var(--accent-text-color);
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: var(--secondary-bgc-color);
}

.hero_overlay {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/img@1x_sm.jpg");
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img@1x_sm.jpg");
}
@media screen and (min-width: 1200px) {
  .hero_overlay {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero_overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/img@2x_sm.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img@2x_sm.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero_overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/img@1x_md.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img@1x_md.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero_overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/img@2x_md.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img@2x_md.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero_overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/Img@1x_lg.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/Img@1x_lg.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero_overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/img@2x_lg.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img@2x_lg.jpg");
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about__item {
  margin-bottom: 30px;
}
.about__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .about__item {
    -ms-flex-preferred-size: calc((100% - 30 * (2 - 1)) / 2);
        flex-basis: calc((100% - 30 * (2 - 1)) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    -ms-flex-preferred-size: calc((100% - 30 * (4 - 1)) / 4);
        flex-basis: calc((100% - 30 * (4 - 1)) / 4);
    margin-bottom: 0;
  }
}

.about__thumb {
  max-width: 450px;
  min-height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .about__thumb {
    max-width: 345px;
  }
}
@media screen and (min-width: 1200px) {
  .about__thumb {
    max-width: 270px;
  }
}
.about__thumb:last-child {
  margin-bottom: 0;
}

.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__title {
    text-align: left;
  }
}

.about__desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__desc {
    text-align: left;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .about__desc {
    width: 270px;
  }
}

.occupation {
  display: none;
}
@media screen and (min-width: 1200px) {
  .occupation {
    display: block;
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.occupation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.occupation__img {
  display: block;
}

.occupation__thumb {
  position: relative;
}

.occupation__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30 * (2 - 1)) / 2);
        flex-basis: calc((100% - 30 * (2 - 1)) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30 * (4 - 1)) / 4);
        flex-basis: calc((100% - 30 * (4 - 1)) / 4);
    margin-bottom: 0;
  }
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__wrapper {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team__wrapper {
    padding-bottom: 30px;
  }
}

.team__employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primery-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.team__profession {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.team__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 30 * (2 - 1)) / 2);
      flex-basis: calc((100% - 30 * (2 - 1)) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30 * (3 - 1)) / 3);
        flex-basis: calc((100% - 30 * (3 - 1)) / 3);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30 * (4 - 1)) / 4);
        flex-basis: calc((100% - 30 * (4 - 1)) / 4);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  -webkit-transition: color var(--anim-hover), border var(--anim-hover);
  transition: color var(--anim-hover), border var(--anim-hover);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--secondary-bgc-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.footer__title,
.subcription__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__title,
.subcription__title {
    text-align: left;
  }
}

.footer__wrapper {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__wrapper {
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--anim-hover);
  transition: background-color var(--anim-hover);
}
.footer__socials-link:focus, .footer__socials-link:hover {
  background-color: #2196f3;
}

.footer__icon {
  fill: currentColor;
}

.subcription {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subcription {
    margin-left: auto;
  }
}

.subcription__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 16px;
  margin-right: 0;
  outline: none;
  color: var(--white-text-color);
  -webkit-transition: border-color var(--anim-hover);
  transition: border-color var(--anim-hover);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subcription__input {
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }
}
.subcription__input:focus {
  border-color: #eeeeee;
}

.subcription__btn {
  display: inline-block;
  width: 198px;
  height: 50px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  font-family: inherit;
  color: var(--white-text-color);
  cursor: pointer;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .subcription__btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.subcription__btn > span {
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  -webkit-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
  transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
}
.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 450px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  -webkit-transition: opacity 500ms ease-in-out 200ms, -webkit-transform 500ms ease-in-out 200ms;
  transition: opacity 500ms ease-in-out 200ms, -webkit-transform 500ms ease-in-out 200ms;
  transition: transform 500ms ease-in-out 200ms, opacity 500ms ease-in-out 200ms;
  transition: transform 500ms ease-in-out 200ms, opacity 500ms ease-in-out 200ms, -webkit-transform 500ms ease-in-out 200ms;
}
.backdrop--is-hidden .modal {
  -webkit-transform: translate(-30%, -30%) scale(0.3) rotate(1turn);
          transform: translate(-30%, -30%) scale(0.3) rotate(1turn);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.modal__btn--close > .modal__icon--close {
  fill: #000000;
  -webkit-transition: fill var(--anim-hover);
  transition: fill var(--anim-hover);
}
.modal__btn--close:focus > .modal__icon--close, .modal__btn--close:hover > .modal__icon--close {
  fill: var(--accent-color);
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__field {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal__field--last {
  margin-bottom: 20px;
}

.modal__desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal__input {
  height: 40px;
  width: 370px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  cursor: pointer;
  outline: none;
  -webkit-transition: border-color var(--anim-hover), fill var(--anim-hover);
  transition: border-color var(--anim-hover), fill var(--anim-hover);
}
.modal__input:focus {
  border-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .modal__input {
    width: 448px;
  }
}

.modal__textarea {
  resize: none;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: black;
  padding: 12px 16px;
  outline: none;
  -webkit-transition: border-color var(--anim-hover);
  transition: border-color var(--anim-hover);
}
.modal__textarea:focus {
  border-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .modal__textarea {
    width: 448px;
  }
}

.modal__input-icon {
  position: absolute;
  top: 28px;
  left: 12px;
  fill: black;
}

.modal__input:focus + .modal__input-icon {
  fill: #188ce8;
}

.modal__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
  padding-left: 9px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .modal__agreement {
    font-size: 14px;
  }
}

.modal__text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal__link {
  color: var(--accent-text-color);
  text-decoration: underline;
}

.modal__btn--submit {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  font-family: inherit;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin-left: 0 auto;
  padding: 10px 52px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.modal__agreement-icon {
  -ms-flex-item-align: center;
      align-self: center;
}

.modal__agreement-icon--check {
  opacity: 0;
}

.modal__agreement-input:checked + .modal__agreement-icon .modal__agreement-icon--check {
  opacity: 1;
}

.modal__agreement-input--visuaaly-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.filter-btn {
  display: block;
  max-width: 150px;
  min-width: 25px;
  min-height: 26px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  color: var(--primery-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: color var(--anim-hover), background-color var(--anim-hover);
  transition: color var(--anim-hover), background-color var(--anim-hover);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-active-btn {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .filter-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
  margin-bottom: 4px;
}

.portfolio-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.portfolio-item {
  -webkit-transition: -webkit-box-shadow var(--anim-hover);
  transition: -webkit-box-shadow var(--anim-hover);
  transition: box-shadow var(--anim-hover);
  transition: box-shadow var(--anim-hover), -webkit-box-shadow var(--anim-hover);
  max-width: 450px;
  margin-bottom: 30px;
}
.portfolio-item:last-child {
  margin-bottom: 0;
}
.portfolio-item:hover, .portfolio-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    -ms-flex-preferred-size: calc((100% - 30 * (2 - 1)) / 2);
        flex-basis: calc((100% - 30 * (2 - 1)) / 2);
    max-width: 354px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    -ms-flex-preferred-size: calc((100% - 30 * (3 - 1)) / 3);
        flex-basis: calc((100% - 30 * (3 - 1)) / 3);
    max-width: 370px;
  }
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(112%);
          transform: translateY(112%);
  -webkit-transition: -webkit-transform 500ms ease-in;
  transition: -webkit-transform 500ms ease-in;
  transition: transform 500ms ease-in;
  transition: transform 500ms ease-in, -webkit-transform 500ms ease-in;
}

.portfolio-img {
  width: 100%;
  height: 294px;
}

.portfolio-link:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.portfolio-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}/*# sourceMappingURL=main.css.map */