:root {
  /*text color*/
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;

  /*bg color*/
  --accent-color: #2196f3;
  --primery-bgc-color: #ffffff;
  --secondary-bgc-color: #2f303a;

  /*other*/
  --anim-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
