.clients__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 30px;
}

.clients__item {
  display: flex;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;

  transition: color var(--anim-hover), border var(--anim-hover);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
  }
}

.clients__icon {
  fill: currentColor;
}
