.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;

  transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;

  &--is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  transition: transform 500ms ease-in-out 200ms, opacity 500ms ease-in-out 200ms;

  .backdrop--is-hidden & {
    transform: translate(-30%, -30%) scale(0.3) rotate(1turn);
  }
}

.modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;

  & > .modal__icon--close {
    fill: #000000;
    transition: fill var(--anim-hover);
  }

  &:focus > .modal__icon--close,
  &:hover > .modal__icon--close {
    fill: var(--accent-color);
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}

.modal__field {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal__field--last {
  margin-bottom: 20px;
}

.modal__desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: #757575;
  margin-bottom: 4px;
}

.modal__input {
  height: 40px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  cursor: pointer;
  outline: none;
  transition: border-color var(--anim-hover), fill var(--anim-hover);

  &:focus {
    border-color: #188ce8;
  }
}

.modal__textarea {
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: black;
  padding: 12px 16px;

  outline: none;

  transition: border-color var(--anim-hover);

  &:focus {
    border-color: #188ce8;
  }
}

.modal__input-icon {
  position: absolute;
  top: 28px;
  left: 12px;
  fill: black;
}

.modal__input:focus + .modal__input-icon {
  fill: #188ce8;
}

.modal__agreement {
  display: flex;
  align-items: baseline;
  gap: 9px;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: #757575;

  margin-bottom: 30px;
  padding-left: 9px;

  position: relative;
}

.modal__text {
  user-select: none;
}

.modal__link {
  color: var(--accent-text-color);
  text-decoration: underline;
}

.modal__btn--submit {
  display: block;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  font-family: inherit;

  color: var(--white-text-color);
  background-color: var(--accent-color);

  cursor: pointer;
  margin-left: 0 auto;
  padding: 10px 52px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.modal__agreement-icon {
  align-self: center;
}

.modal__agreement-icon--check {
  opacity: 0;
}

.modal__agreement-input:checked + .modal__agreement-icon .modal__agreement-icon--check {
  opacity: 1;
}

.modal__agreement-input--visuaaly-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
