.occupation {
  padding-top: 0;
}

.occupation__list {
  display: flex;
  gap: 30px;
}

.occupation__img {
  display: block;
}

.occupation__thumb {
  position: relative;
}

.occupation__label {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
