.logo {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    text-align: left;
  }

  &__accent {
    color: var(--accent-text-color);
  }
}

.header__logo {
  @media screen and (min-width: 768px) {
    margin-right: 87px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 92px;
  }
}

.footer__logo {
  display: block;

  color: var(--white-text-color);

  margin-right: 0;
  margin-bottom: 20px;
}
