.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;

  &__item:last-child {
    margin-right: 0;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primery-text-color);

  transition: color var(--anim-hover);

  &--current {
    color: var(--accent-text-color);
    position: relative;
  }

  &--current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: rgba(33, 150, 243, 1);
    border-radius: 2px;

    position: absolute;
    bottom: 0;
  }

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}
